*.pdf
*.aux
*.log
*.out
*.pyc
*.o
*.dia~
kernel
.installed.cfg
.mr.developer.cfg
*.egg-info
code/Emulator/bin
develop-eggs
code/Emulator/parts
code/Emulator/.coverage
code/Emulator/var
data.fs*
doc/Real/bin/
doc/Real/bootstrap.py
doc/Real/build/
doc/Real/parts/
