[buildout]
parts =

develop =
  apps/pyemu

eggs =

extra-paths =

allowed-eggs-from-site-packages =
  PIL
  setuptools
  distribute

extensions = mr.developer
sources = sources
sources-dir = apps
auto-checkout = *

versions = versions

[sources]
# my.package = svn http://example.com/svn/my.package/trunk
# some.other.package = git git://example.com/git/some.other.package.git
# bzr.package = bzr bzr+ssh://bazaar.launchpad.net/~user/project/branch/

[versions]

